# Latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.toc
*.pdf
.vscode
Code/swarm/main/__pycache__
Code/lib/__pycache__
Code/lib/credentials.py
Code/drone_simulation/controllers/__pycache__